body {
	font-family: 'Gilda Display', serif;
  font-weight: lighter;
	color: white;
	text-align: center;
	background-color: #e15444;
}

img {
  border-radius: 1000px;
  border: 2px solid white;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-bottom: 40px;
  width: 100%;
  padding: 13px 10px 10px 10px;
  font-size: 30px;
  border: 2px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
	margin-top: 10px;
}

div.wrapper {
  width: 320px;
  margin: 30px auto;
}

@media (min-width: 700px) {
  div.wrapper {
    margin-top: 130px;
  }
}

div.icons {
  text-align: center;
  margin: 0 auto;
}

div.icons i {
  margin-right: 15px;
  margin-left: 15px;
  color: white;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

div.icons i:hover {
  color: white;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

div.text {
  margin-top: 5px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Gilda Display', serif;
  font-size: 18px;
}

a.text {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

/*a.text:hover {
  color: #7CF5A7;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}*/
