body, header, footer {
	background-color: #e15444;
}

h1, h2, p {
	font-family: 'Gilda Display', serif;
  font-weight: lighter;
	color: white;
	text-align: center;
  margin-top: 10px;
  margin: 0;
}

img {
  border-radius: 1000px;
  border: 2px solid white;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
	margin-top: 30px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  padding: 10px;
  padding-top: 13px;
  font-size: 30px;
  border: 2px solid white;
}

h2 {
	font-size: 20px;
}

p {
	margin-top: 10px;
}

div.presentation{
	margin-top: 100px;
  margin-bottom: 20px;
}

div.icons{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

div.icons i {
  margin-right: 15px;
  margin-left: 15px;
  color: white;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

div.icons i:hover {
  color: white;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

div.textheader {
  width: 400px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

div.text {
  margin-top: 5px; 
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Gilda Display', serif;
  font-size: 18px;
}

a.text {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

/*a.text:hover {
  color: #7CF5A7;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}*/
