body {
  margin: 0px;
  font-family: 'Futura', 'Helvetica';
  font-size: 20px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

.blue-section {
  background-color: #00207E;
  color: #00C0FF;
}

.blue-section ::selection,
.blue-section a ::selection,
.blue-section a:hover ::selection {
  background-color: #00C0FF;
  color: #00207E;
  border-bottom: 2px solid #00207E;
}

.white-section {
  -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #FFFFFF;
  color: #000000;
}

.white-section ::selection,
.white-section a ::selection,
.white-section a:hover ::selection {
  background-color: #FF2B7E;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}

.pink-section {
  -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #FF2B7E;
  color: #FFFFFF;
}

.pink-section a,
.pink-section a:hover {
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}

.hi,
.bio,
.links {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hi {
  font-size: 50px;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio .text {
  max-width: 470px;
  padding: 0px 20px;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 2;
}

.bio .name {
  font-size: 30px;
}

.bio a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  border-bottom: 2px solid #000000;
}

.bio a:hover {
  color: #FFFFFF;
  font-size: inherit;
  text-decoration: none;
  border-bottom: 2px solid #FFFFFF;
}

.links {
  flex-direction: column;
}

.links a {
  color: #00C0FF;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 0px;
  border-bottom: 2px solid #00C0FF;
}

.links a:hover {
  -webkit-transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: white;
  border-bottom: 2px solid white;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 20px 0px;
}

li {
  padding: 15px 0px;
}
