/* FONTS */
@font-face {
  font-family:'Noto Serif';
  src: url('./fonts/Noto_Serif/NotoSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family:'Noto Sans';
  src: url('./fonts/Noto_Sans/NotoSans-Light.ttf') format('truetype');
}
@font-face {
  font-family:'Noto Sans Bold';
  src: url('./fonts/Noto_Sans/NotoSans-Bold.ttf') format('truetype');
}

/* MAIN */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  margin-bottom: 150px;
  font-family: 'Noto Sans';
  font-size: 17px;
  color: white;

  background: linear-gradient(167.93deg, #5855EE 0%, rgba(203, 11, 195, 0.35) 107.84%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7vw;
}

h1 {
  font-size: 32px;
  font-family: 'Noto Serif';
}

h2 {
  font-size: 25px;
  font-family: 'Noto Serif';
}

section {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
}

section.above-fold {
  height: calc(100vh - 7vw - 7vw);
  margin-top: 0px;
}

.arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16vw;
}

.arrow img {
  width: 70px;
  padding: 10px;
}

.arrow img:hover {
  cursor: pointer;
}

.above-fold h1 {
  margin-top: 25vh;
}

.text {
  line-height: 27px;
  max-width: 450px;  
}

.skills {
  display: flex;
  flex-direction: column;  
}

.skills span.skill-category {
  text-decoration: underline;
  font-family: 'Noto Sans Bold';
}

.skills .skills-grid {
  display: grid;
  padding-top: 23px;
  grid-template-columns: 100%;
  grid-column-gap: 35px;
}

.skill {
  text-align: left;
  margin-bottom: 35px;
}

.links {
  flex-direction: column;
}

.links a,
.above-fold a {
  color: white;
  text-decoration: underline;
  border-bottom: 0px;
}

.backToTop {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.backToTop a {
  color: #1C19B5;
  text-decoration: none;
  font-family: 'Noto Sans Bold';
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 23px 0px;
}

li {
  padding: 15px 0px;
}

li:first-child {
  padding-top: 0px;
}

@media (min-width: 800px) {
  body {
    padding: 100px;
    background: linear-gradient(-45deg, #e65de8, #e73c7e, #5855EE, #23d5ab);
    background-size: 400% 400%;
    animation: BackgroundPulse 15s ease infinite;
  }

  .arrow {
    justify-content: left;
    margin-top: 110px;
  }

  section {
    margin-top: 200px;
  }

  .skills .skills-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  li:first-child {
    padding: 15px 0px;
  }
}


/* ANIMATIONS */
@-webkit-keyframes BackgroundPulse {
  0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

@-moz-keyframes BackgroundPulse {
  0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

@keyframes BackgroundPulse {
  0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}