body {
  margin: 0px;
  font-family: 'Futura', 'Helvetica';
  font-size: 18px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

h3 {
  font-size: 18px;
}

.blue-section {
  background-color: #00207E;
  color: #00C0FF;
  padding: 10%;
}

.blue-section ::selection,
.blue-section a ::selection,
.blue-section a:hover ::selection {
  background-color: #00C0FF;
  color: #00207E;
  border-bottom: 2px solid #00207E;
}

.blue-section .heading {
  border-bottom: 2px solid #00C0FF;
}

.white-section {
  -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #FFFFFF;
  color: #000000;
}

.white-section ::selection,
.white-section a ::selection,
.white-section a:hover ::selection {
  background-color: #FF2B7E;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}

.highlight {
  padding: 0px 3px;
}

.pink-section,
.highlight {
  -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #FF2B7E;
  color: #FFFFFF;
}

.pink-section a,
.pink-section a:hover {
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}

.hi,
.bio,
.links,
.key-skills,
.skills,
.bye {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills {
  flex-direction: column;
}

.hi,
.bye {
  font-size: 50px;
}

.bio,
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  justify-content: center;
  margin: 0px 10%;
}

.bio .text {
  padding: 0px 20px;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 2;
  margin: 10%;
  max-width: 700px;
}

.bio .name {
  font-size: 25px;
}

.bio a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  border-bottom: 2px solid #000000;
}

.bio a:hover,
.highlight {
  color: #FFFFFF;
  font-size: inherit;
  text-decoration: none;
  border-bottom: 2px solid #FFFFFF;
}

.links,
.key-skills {
  flex-direction: column;
}

.skills .skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 35px;
  max-width: 1000px;
}

.skills .heading {
  border-bottom: 2px solid #000000;
  margin-bottom: 10%;
}

.skill {
  text-align: left;
  margin-bottom: 35px;
}

.skill-description {
  font-size: 16px;
}

.links a {
  color: #00C0FF;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 0px;
}

.links a:hover {
  -webkit-transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: white;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 20px 0px;
}

.key-skills ul {
  list-style-type: disc;
  text-align: left;
  font-size: 16px;
}

li {
  padding: 15px 0px;
}

@media (max-width: 600px) {
  .skills .skills-grid {
    grid-template-columns: 100%;
  }
}