body {
  height: 100vh;
  background-color: rgba(254, 233, 0, 1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.out {
  -webkit-transform: translateX(-60vw);
  -ms-transform: translateX(-60vw);
  transform: translateX(-60vw);
}

.position-fixed {
  -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.position-logo {
  -webkit-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.circle {
  position: absolute;
  border-radius: 100px;
  background-color: black;
}

.circle1 {
  z-index: 1;
  width: 100px;
  height: 100px;
  /*background-color: rgba(100, 0, 88, 1);*/
}

.circle1-logo {
  -webkit-transform: translateY(55px) translateX(5px);
  -ms-transform: translateY(55px) translateX(5px);
  transform: translateY(55px) translateX(5px);
}

.circle2 {
  z-index: 2;
  width: 100px;
  height: 100px;
  /*background-color: rgba(1, 192, 255, 1);*/
}

.circle2-logo {
  -webkit-transform: translateY(-55px) translateX(-5px);
  -ms-transform: translateY(-55px) translateX(-5px);
  transform: translateY(-55px) translateX(-5px);
}

.circle3 {
  z-index: 3;
  width: 28px;
  height: 28px;
  /*background-color: rgba(109, 219, 255, 1);*/
}

.circle3-logo {
  -webkit-transform: translateY(-102px) translateX(50px);
  -ms-transform: translateY(-102px) translateX(50px);
  transform: translateY(-102px) translateX(50px);
}

.circle4 {
  z-index: 4;
  width: 50px;
  height: 50px;
  /*background-color: rgba(254, 44, 127, 0.5);*/
}

.circle4-logo {
  width: 105px;
  -webkit-transform: translateY(30px) translateX(-23px);
  -ms-transform: translateY(30px) translateX(-23px);
  transform: translateY(30px) translateX(-23px);
}